<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lista de Quotes</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

	<!-- Margem -->
	<div class="col-md-2"></div>

	<div class="row">
		<div class="col-md-8">


		<h1 class="text-center">Lista de Quotes</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Autor</th>
						<th>Quote</th>
					</tr>
				</thead>

				<% for(var i=0; i<quotes.length; i++) { %>
					<tr className="quote">
						<td><%= quotes[i].name %></td>
						<td><%= quotes[i].quote %></td>
						<td><button name="<%= quotes[i]._id %>">Deletar</button></td>
					</tr>
				<% } %>

			</table>
		</div>
	</div>

	<!-- Margem -->
	<div class="col-md-2"></div>

	<script type="text/javascript">

		/**
		* getElementsByTagName NÃO retorna um array como eu pensava
		* retorna um HTMLcollection. Aqui convertemos para array.
		*/
		var buttons = Array.from(document.getElementsByTagName('button'));

		buttons.forEach(function(element){
			element.onclick = function(){
				window.location.href = 'delete?id=' + this.name;
			};
		});

		// for(var i=0; i<buttons.length; i++){
		// 	buttons[i].onclick = function(){
		// 		window.location.href = 'delete?id=' + this.name;
		// 	};
		// }
	</script>

</body>
</html>